@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Raleway:wght@300;400;500;600;700&display=swap');

:root {
    /* Palette */
    --primary-solid: #FF3333;
    --primary-900: rgba(255,51,51,0.9);
    --primary-500: rgba(255,51,51,0.5);
    --primary-300: rgba(255,51,51,0.3);

    --secondary-solid: #1D8485;
    --secondary-900: rgb(29,132,189,0.9);
    --secondary-500: rgb(29,132,189,0.5);
    --secondary-300: rgb(29,132,189,0.3);

    --dark-solid: #1F1f1F;
    --dark-900: rgb(31,31,31,0.9);
    --dark-500: rgb(31,31,31,0.5);
    --dark-300: rgb(31,31,31,0.3);

    --dark-bg-solid: #30343F;
    --light-bg-solid: #FAFAFF; 
    --dark-font-solid: #111111;
    --light-font-solid: #FFFFFF;

    /* Typography */
    --base-font: 'Inter',sans-serif;
    --alternative-font: 'Raleway',sans-serif;

    /* Font-sizes */
    --font-display: 4.6em;
    --font-jumbo: 3.8em;
    --font-xlarge: 3em;
    --font-large: 2.4em;
    --font-medium: 1.8em;
    --font-small: 1.6em;
    --font-xsmall: 1.4em;

    /* Spacing */
    --spacing-128: 12.8rem;
    --spacing-68: 6.8rem;
    --spacing-36: 3.6rem;
    --spacing-28: 2.8rem;
    --spacing-24: 2.4rem;
    --spacing-20: 2.0rem;
    --spacing-16: 1.6rem;
    --spacing-12: 1.2rem;
    --spacing-8: 0.8rem;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
    font-family: var(--base-font);
    font-size: 62.5%;
    color: var(--dark-font-solid);
}

a {
    text-decoration: none;
    font-family: inherit;
    color: inherit;
}

ul,ol {
    list-style-type: none;  
}

img {
    width: 100%
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Header */

header {
    background-color: var(--dark-bg-solid);
    padding: var(--spacing-36);
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar__logo {
    max-width: 300px;
}

.navbar__menu {
    display: flex;
    align-items: center;
    gap: var(--spacing-20);
}

.navbar__link {
    font-size: var(--font-medium);
    padding: var(--spacing-8) var(--spacing-16);
    display: inline-block;
    transition: background .3s ease-in-out;
    position: relative;
    color: var(--light-font-solid);
}

.navbar__link:hover {
    background-color: var(--primary-900);
}

.with-icon {
    display: flex;
    align-items: center;
    gap: var(--spacing-8);    
}

/* FOOTER */
footer {
    background-color: var(--dark-bg-solid);
    padding: var(--spacing-68);
}

.footer__copy {
    text-align: center;
    margin-top: var(--spacing-36);
    color: var(--light-font-solid);
}
