<%- include('../partials/header') %>
    <main id="shop" class="container">
        <aside class="shop__filters filters">
            <div class="filters__search">
                <label  class="filters__title" for="search">BUSCAR</label>
                <input type="text" name="search" id="search" placeholder="item o categoría">
            </div>
            <div class="filters__order">
                <label  class="filters__title" for="orderby">ORDERNAR POR</label>
                <select name="orderby" id="orderby" onchange="ordenarDatos()">
                    <option value="ascendente">A-Z</option>
                    <option value="descendente">Z-A</option>
                    <option value="precioDescendente">Mayor precio</option>
                    <option value="precioAscendente">Menor precio</option>
                </select>
              </div>
            <div class="filters__price">
                <span class="filters__title" >PRECIO</span>
                <div>
                    <label for="min">MIN</label>
                    <input type="text" name="min" id="min" type="number" placeholder="0">
                    <label for="max">- MAX</label>
                    <input type="text" name="max" id="max" type="number" placeholder="0">
                </div>
            </div>
            <div class="filters__checks">
                <span class="filters__title" for="filter">FILTRAR</span>
                <div>
                    <input type="checkbox" name="filter" id="news" value="news">
                    <label for="news">NUEVOS</label>
                </div>
                <div>
                    <input type="checkbox" name="filter" id="offers" value="offers">
                    <label for="offers">OFERTAS</label>
                </div>
                <div>
                    <input type="checkbox" name="filter" id="specials" value="specials">
                    <label for="specials">EDICIÓN ESPECIAL</label>
                </div>
                <div>
                    <input type="checkbox" name="filter" id="favs" value="favs">
                    <label for="favs">FAVORITOS</label>
                </div>
            </div>
        </aside>

        <section class="shop__content">
            <ul id="listaDatos" class="shop__items">
              <!-- Datos cargados dinámicamente desde el servidor -->
            </ul>
            <div class="pagination">
              <a class="pagination__link" href="#" ><</a>
              <a class="pagination__link pagination__link--selected" href="#" >1</a>
              <a class="pagination__link" href="#" >2</a>
              <a class="pagination__link" href="#" >3</a>
              <a class="pagination__link" href="#" >4</a>
              <a class="pagination__link" href="#" >5</a>
              <a class="pagination__link" href="#" >></a>
          </div>
        </section>

    </main>
    <script>
      let datosObtenidos = [];

      function publicar(listaDatos,datosPublicar) {
        listaDatos.innerHTML = "";
        // Llenar la lista de datos
        let html = "";
//        console.log(datosPublicar);

        datosPublicar.forEach((dato) => {
          html += "<li class=\"shop__item\">";
          html +=  "    <article class=\"card-item\">";
          html +=  "        <a class=\"card-item__link\" href=\"/shop/item/" + dato.product_id + "\">";
          html +=  "                <picture class=\"card-item__cover\">";
          html +=  "                    <span class=\"card-item__tag\">Nuevo</span>";
          html +=  "                    <img class=\"card-item__img--front\" src=\"../../img" + dato.image_front + "\"" + " alt=\"" + "Figura coleccionable Funko de un Stormtrooper" + "\">";
          html +=  "                    <img class=\"card-item__img--back\" src=\"../../img" + dato.image_back + "\"" + " alt=\"" + "Figura coleccionable Funko de un Stormtrooper en caja" + "\">";
          html +=  "                </picture>";
          html +=  "                <div class=\"card-item__content\">";
          html +=  "                    <p class=\"card-item__licence\">" + dato.licence_name + "</p>";
          html +=  "                    <h4 class=\"card-item__name\">" + dato.product_name + "</h4>";
          html +=  "                    <p class=\"card-item__price\">" + dato.price + "</p>";
          html +=  "                    <p class=\"card-item__promo\">" + dato.dues + " Cuotas sin inter&eacute;s</p>";
          html +=  "            </div>";
          html +=  "        </a>";
          html +=  "    </article>";
          html +=  "</li>";
        });

        //console.log(html);

        listaDatos.innerHTML = html;
      }

      function ordenarDatos() {
        // Limpiar Input 
        const search = document.getElementById('search');
        search.value = "";
        const min = document.getElementById('min');
        min.value = "";
        const max = document.getElementById('max');
        max.value = "";

        const listaDatos = document.getElementById("listaDatos");
        const ordenSeleccionado = document.getElementById("orderby").value;

        const elementosArray=[];
        if (ordenSeleccionado === "ascendente" || ordenSeleccionado === "precioAscendente" || ordenSeleccionado === "precioDescendente") {
          datosObtenidos.sort((a, b) => a.product_name.localeCompare(b.product_name));
        }
        if (ordenSeleccionado === "descendente") {
              datosObtenidos.sort((a, b) => b.product_name.localeCompare(a.product_name));
        } else if (ordenSeleccionado === "precioAscendente" ) { 
              datosObtenidos.sort((a, b) => a.price - b.price);
        } else if (ordenSeleccionado === "precioDescendente") {
              datosObtenidos.sort((a, b) => b.price - a.price);
        }

        publicar(listaDatos,datosObtenidos);
      }

      async function cargarDatos() {
        // Hacer una solicitud al servidor para obtener los datos
        const response = await fetch("/shop/datos");
        const datos = await response.json();
        
        datosObtenidos = datos;
        ordenarDatos();
      }

      document.addEventListener('DOMContentLoaded', function () {
        const search = document.getElementById('search');
        const min = document.getElementById('min');
        const max = document.getElementById('max');
        const listaDatos = document.getElementById('listaDatos');

        // Manejar el evento de cambio en el input
        search.addEventListener('input', function () {
          const filtro = (search.value).toLowerCase(); // Convertir a minúsculas para hacer la comparación más flexible
          // Filtrar los datos basándote en el input          
          const datosFiltrados = datosObtenidos.filter((dato) => ((dato.product_name).toLowerCase()).includes(filtro));

          publicar(listaDatos,datosFiltrados);
        });
        
        min.addEventListener('blur', function (event) {
          // Filtrar los datos basándote en el input
          let datosFiltrados = []
          if (Number(max.value) > 0 )
            datosFiltrados = datosObtenidos.filter((dato) => (Number(dato.price) >=  Number(event.target.value) &&
                                                  Number(dato.price) <=  Number(max.value)))
          else 
            datosFiltrados = datosObtenidos.filter((dato) => (Number(dato.price) >=  Number(event.target.value)));
          
          publicar(listaDatos,datosFiltrados);
        });

        max.addEventListener('blur', function (event) {
          // Filtrar los datos basándote en el input          
          let datosFiltrados = []
          if (Number(max.value) > 0 ) {
            if (Number(min.value) > 0 )
                datosFiltrados = datosObtenidos.filter((dato) => (Number(dato.price) >=  Number(min.value) &&
                                                  Number(dato.price) <=  Number(event.target.value)))           
              else 
                datosFiltrados = datosObtenidos.filter((dato) => (Number(dato.price) <=  Number(event.target.value)));  
            publicar(listaDatos,datosFiltrados);
          }
        });

      });

      // Cargar datos al cargar la página
      cargarDatos();
    </script>
<%- include('../partials/footer') %>