<%- include('../partials/header_admin') %>
    <main id="admin" class="container">
        <section class="admin__search">
            <iconify-icon class="admin__icon" icon="charm:search"></iconify-icon>
            <input class="admin__search-bar" type="text" name="search" id="search"
                placeholder="c&oacute;digo, nombre o categor&iacute;a">
        </section>
        <section class="admin__list">
            <div class="admin__header">
                <h2>LISTADO DE PRODUCTOS</h2>
                <span>AGREGAR<a href="/admin/create"><iconify-icon icon="bxs:plus-square"
                    style="color: #f33;"></iconify-icon></a>
                </span>
            </div>
            <div class="admin-table" id="listaDatos">
            </div>
        </section>
    </main>
    <script>
        let datosObtenidos = [];

        function publicar(listaDatos,datosPublicar) {
            listaDatos.innerHTML = "";
            // Llenar la lista de datos
            let html = "";

            html += "<header class=\"admin-table__header\">";
            html += "    <h3>ID</h3>";
            html += "    <h3>C&oacute;digo</h3>";
            html += "    <h3>Nombre del Producto</h3>";
            html += "    <h3>Categor&iacute;a</h3>";
            html += "</header>";

            datosPublicar.forEach((dato) => {
                html +=  "<article class=\"admin-table__row\">";
                html +=  "    <p>" + dato.product_id + "</p>";
                html +=  "    <p>" + dato.sku + "</p>";
                html +=  "    <p>" + dato.product_name + "</p>";
                html +=  "    <p>" + dato.category_name + "</p>";
                html +=  "    <a href=\"./edit/" + dato.product_id + "\"><iconify-icon icon=\"mdi:pencil\" class=\"iconify-icon-pencil\"></iconify-icon></a>";
                html +=  "    <form action=\"/admin/delete/" + dato.product_id + "?_method=DELETE\" method=\"POST\">";
                html +=  "        <button class=\"admin-table__btn-delete\" type=\"submit\">";
                html +=  "            <iconify-icon icon=\"heroicons-solid:trash\" class=\"iconify-icon-trash\"></iconify-icon>";
                html +=  "        </button>";
                html +=  "    </form>";
                html +=  "</article>";
            });

            console.log(html);
            listaDatos.innerHTML = html;
        }

        async function cargarDatos() {
            const listaDatos = document.getElementById('listaDatos');

            // Hacer una solicitud al servidor para obtener los datos
            const response = await fetch("/shop/datos");
            const datos = await response.json();

            datosObtenidos = datos;
            datosObtenidos.sort((a, b) => a.product_id - b.product_id);
        
            publicar(listaDatos,datosObtenidos);
        }

        document.addEventListener('DOMContentLoaded', function () {
            const search = document.getElementById('search');
            const listaDatos = document.getElementById('listaDatos');

            // Manejar el evento de cambio en el input
            search.addEventListener('input', function () {
                const filtro = (search.value).toLowerCase(); // Convertir a minúsculas para hacer la comparación más flexible
                // Filtrar los datos basándote en el input          
                const datosFiltrados = datosObtenidos.filter((dato) => 
                                        ((dato.sku).toLowerCase()).includes(filtro) 
                                    || ((dato.product_name).toLowerCase()).includes(filtro)
                                    || ((dato.category_name).toLowerCase()).includes(filtro) 
                                        );

                publicar(listaDatos,datosFiltrados);
            });
        });

        // Cargar datos al cargar la página
        cargarDatos();
    </script>
<%- include('../partials/footer_admin') %>