    <footer class="footer">
        <nav class="navbar container">
            <ul class="navbar__item">
                <li class="navbar__item">
                    <a class="navbar__link" href="/shop/shop">SHOP</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" href="/admin/register">REGISTRARSE</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" href="/admin/login">INGRESAR</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" href="../contact.html">CONTACTO</a>
                </li>
            </ul>
            <picture class="footer-isotipo">
                <img src="../../img/branding/isotype.svg" alt="Isotipo de la marca Funkoshop" />
            </picture>
        </nav>
        <p class="footer__copy">All rights reserved 2023 - Funkoshop &copy;</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.7/dist/iconify-icon.min.js"></script>
</body>

</html>