<!DOCTYPE html>

<html lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= tituloPagina %></title>
    <meta name="description" content="HTML">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/admin.css">
</head>

<body>
    <header>
        <nav class="navbar container">
            <picture class="navbar__logo">
                <a href="../../index.html">
                    <img src="../../img/branding/logo_light_horizontal.svg" alt="Isologotipo de la marca Funkoshop" />
                </a>
            </picture>
            <ul class="navbar__menu">
                <li class="navbar__item">
                    <a class="navbar__link" href="../../index.html">VER TIENDA</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" href="./admin.html">ADMIN</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" href="./logout.html">SALIR</a>
                </li>
            </ul>
        </nav>
    </header>